<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%  block body %}
    {{ len(users) }}
    {%  for user in users %}
        <br />
        <ul>
        <li>{{  user.id }} </li>
        <li>{{  user.username }} </li>
        <li>{{  user.first_name }} </li>
        </ul>
        <br />
    {% endfor %}
{% endblock %}
</body>
</html>